<header id="site-header">
  <div class="clearfix" id="header-wrapper">
    <nav id="header-links">
      <ul>
        <li>
          <div id="site-title">
            Jonathan Potter
          </div>
        </li>
        <li>
          <a class="sidebar-menu-bar" href="#bio">
            Bio
          </a>
        </li>
        <li>
          <a class="sidebar-menu-bar" href="#projects">
            Projects
          </a>
        </li>
        <li>
          <a class="sidebar-menu-bar" href="#contact">
            Links
          </a>
        </li>
        <li>
          <ul class="badge-ul">
            <li class="badge-li">
              <a href="https://github.com/jonathan-potter">
                <div>
                  <img class="badge" src="/assets/GitHub-Mark.png" alt="GitHub Mark">
                </div>
              </a>
            </li>
            <li class="badge-li">
              <a href="https://www.linkedin.com/in/jonathanmpotter">
                <div>
                  <img class="badge" src="/assets/LinkedIn-InBug-2C.png" alt="LinkedIn Logo">
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>