<%= render "header/header" %>

<main class="main clearfix">
  <img class="profile-picture" src="/assets/jonathan-potter.jpg" alt="Jonathan Potter">
  <p>
    Greetings, I'm Jonathan. I'm a web developer looking for new opportunities in New York City or San Francisco.
  </p>
  <p>
    In 2010 I graduated with my master's degree in electrical engineering from Wright State University in Dayton, Ohio. I worked as a defense contractor for Macaulay-Brown Inc. supporting the U.S. Air Force at Wright-Patterson Air Force Base. My job consisted of programming, data analysis, and electronics testing.
  </p>
  <p>
    Recently, I have been working with Ruby, Ruby on Rails, Javascript, HTML5, CSS, and SQL in preparation for my new career. Links to several of my projects are found in the sidebar.
  </p>
</main>