main, #main {
  float:left;
  width: 500px;
  margin-top: 47px;
  border-radius: 4px;
  background: white;
}

.profile-picture {
  display: block;
  width: 100px;
  height: auto;
  border: 4px solid #A55;
  margin: 10px;
  float: left;
}

#main > section > p {
  font-size: 18px;
  padding: 10px;
}