main, #main {
  float:left;
  width: 600px;
  margin-top: 47px;
  border-radius: 4px;
  background: white;
}

.profile-picture {
  display: block;
  width: 100px;
  height: auto;
  border: 4px solid #A55;
  margin: 10px;
  float: left;
}
/********************************** BIO ***************************************/
#main > section > p {
  font-size: 18px;
  padding: 10px;
}
/******************************** Projects ************************************/

#main {margin: 20px;}
#main > section {
  padding: 20px;
}
#main > section > ul {}
#main > section > ul > li {
  padding: 20px 0;
  border-bottom: 1px solid #CCC;
}
#main > section > ul > li > h3 {
  font-size: 20px;
}

#main > section > summary {font-size: 15px;}

#main > section > ul > li > ul > li:before {content: "-";}

#link-list {}
#link-list > .link-list-item {
  display: block;
  vertical-align: middle;
}

.project-header {}

.project-title {
  float:left;
  position: absolute;
  font-size: 25px;
}

.project-links {
  width: 200px;
  margin: auto;
}
.project-links > ul {}
.project-links > ul > li {
  float: left;
  padding: 0 5px;
  text-align: bottom;
  line-height: 35px;
}

.project-links-single-link {
  width: 100px;
  margin: auto;
}
.project-links-single-link > ul {}
.project-links-single-link > ul > li {
  text-align: bottom;
  line-height: 35px;
}