#site-header {
  float: left;
  height: 100%;
  background: #A55;
  color: white;
  font-size: 20px;
}

#header-wrapper {
  width: 235px;
}

#site-title {
  color: white;
  margin-top: 20px;
  padding-right: 5px;
  text-align: right;
  font-weight: bold;
}

#header-links {}

.badge-li {
  display: inline-block;
  float: left;
  background: white;
  border-radius: 4px;
  margin: 0px 3px;
  transform: translate(-5px, 0)
  -ms-transform: translate(-5px, 0);
  -webkit-transform: translate(-5px, 0);
}

#header-links > ul > li {
  width: 210px;
  margin: 5px;
  margin-left: 0;
  transform: rotate(-3deg)
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  text-transform: uppercase;
  font-weight: lighter;
}

#header-links > ul > li > ul {
  float: right;
}

#header-links > ul > li > a {}
#header-links > ul > li > a > div {}
#header-links > ul > li > a > div > img {}

.badge {
  width: 25px;
  height: 25px;
  float: left;
  padding: 5px;
  transition: 0.1s;
}

.badge-li:hover {
  transform: invert(100%)
  -ms-transform: invert(100%);
  -webkit-filter: invert(100%);
  transition: 0.1s;
}



.sidebar-menu-bar {
  display:block;
  width: 200px;
  padding: 5px;
  margin: 10px;
  margin-left: 0;
  background: white;
  color: #333;
  text-align: right;
  transform: translate(-5px, 0)
  -ms-transform: translate(-5px, 0);
  -webkit-transform: translate(-5px, 0);
  transition: 0.1s;
  border-radius: 4px;
}

.sidebar-menu-bar:hover {
  transform: invert(100%)
  -ms-transform: invert(100%);
  -webkit-filter: invert(100%);
  transition: 0.1s;
}