<ul id="link-list">
  <li class="clearfix link-list-item">
    <a href="https://github.com/jonathan-potter">
      <div>
        <img class="badge" src="/assets/GitHub-Mark.png" alt="GitHub Mark">
      </div>github.com/jonathan-potter
    </a>
  </li>
  <li class="clearfix link-list-item">
    <a href="https://www.linkedin.com/in/jonathanmpotter">
      <div>
        <img class="badge" src="/assets/LinkedIn-InBug-2C.png" alt="LinkedIn Logo">linkedin.com/in/jonathanmpotter
      </div>
    </a>
  </li>
</ul>