<h2>Projects</h2>

<ul>
  <li>
    <header class="clearfix project-header">
      <h3 class="project-title">
        <a href="http://cloudbnb.jonathan-potter.com/">Cloudbnb</a>
      </h3>
      <nav class="project-links">
        <ul>
          <li>
            <a href="http://cloudbnb.jonathan-potter.com/">Live Demo</a>
          </li>
          <li>
            <a href="http://github.com/jonathan-potter/cloudbnb">Github Repo</a>
          </li>
        </ul>
      </nav>
    </header>
    <summary class="summary">
      Ruby on Rails based clone of Airbnb, built to demo multiple technologies.
    </summary>
    <ul>
      <li>Users</li>
      <li>Spaces (rental properties)</li>
      <li>Bookings</li>
    </ul>
  </li>

  <li>
    <header class="clearfix project-header">
      <h3 class="project-title">
        <a href="http://www.jonathan-potter.com">Porfolio</a>
      </h3>
      <nav class="project-links">
        <ul>
          <li>
            <a href="http://www.jonathan-potter.com">Live Demo</a>
          </li>
          <li>
            <a href="https://github.com/jonathan-potter/Portfolio">Github Repo</a>
          </li>
        </ul>
      </nav>
    </header>
    <summary class="summary">
      This website! build using Ruby on Rails and Backbone.js.
    </summary>
  </li>

  <li>
    <header class="clearfix project-header">
      <h3 class="project-title">
        <a href="http://jonathan-potter.github.io/Asteroids/">Asteroid Sandbox</a>
      </h3>
      <nav class="project-links">
        <ul>
          <li>
            <a href="http://jonathan-potter.github.io/Asteroids/">Live Demo</a>
          </li>
          <li>
            <a href="http://github.com/jonathan-potter/Asteroids">Github Repo</a>
          </li>
        </ul>
      </nav>
    </header>
    <summary class="summary">
      fly around and shoot asteroids with control over several environment variables, built using JavaScript and HTML5 Canvas.
    </summary>
  </li>

  <li>
    <header class="clearfix project-header">
      <h3 class="project-title">
        <a href="http://jonathan-potter.github.io/Cat-Click-Snake/">Snake</a>
      </h3>
      <nav class="project-links">
        <ul>
          <li>
            <a href="http://jonathan-potter.github.io/Cat-Click-Snake/">Live Demo</a>
          </li>
          <li>
            <a href="http://github.com/jonathan-potter/Cat-Click-Snake">Github Repo</a>
          </li>
        </ul>
      </nav>
    </header>
    <summary class="summary">
      Eat apples and grow (there are a few other features I should probably remove), built using Javascript and CSS.
    </summary>
  </li>

  <li>
    <header class="clearfix project-header">
      <h3 class="project-title">
        <a href="http://jonathan-potter.github.io/Cat-Click-Snake/">MathStuff</a>
      </h3>
      <nav class="project-links-single-link">
        <ul>
          <li>
            <a href="http://github.com/jonathan-potter/MathStuff">Github Repo</a>
          </li>
        </ul>
      </nav>
    </header>
    <summary class="summary">
      A growing repository of the math functions needed for past projects.
    </summary>
    <ul>
      <li>Currently contains ruby and javascript</li>
      <li>Features JavaScript testing using Jasmine</li>
    </ul>
  </li>

  <li>
    <header class="clearfix project-header">
      <h3 class="project-title">
        <a href="http://itunes.apple.com/us/app/sfdistricts/id617142818?mt=8#!">SFDistricts</a>
      </h3>
      <nav class="project-links-single-link">
        <ul>
          <li>
            <a href="http://itunes.apple.com/us/app/sfdistricts/id617142818?mt=8#!">Apple Store</a>
          </li>
        </ul>
      </nav>
    </header>
    <summary class="summary">
     Interactive map of the districts and neighborhoods in San Francisco. built for iPhone.
    </summary>
  </li>
</ul>