<h2>Projects</h2>

<ul>
  <li>
    <h3><a href="http://cloudbnb.jonathan-potter.com/">Cloudbnb</a></h3>
    <summary class="summary">
      Ruby on Rails based clone of Airbnb, built to demo multiple technologies
    </summary>
    <ul>
      <li>Users</li>
      <li>Spaces (rental properties)</li>
      <li>Bookings</li>
    </ul>
  </li>

  <li>
    <h3><a href="http://jonathan-potter.github.io/Asteroids/">Asteroids</a></h3>
    <summary class="summary">
      fly around and shoot asteroids, built using JavaScript and HTML5 Canvas
    </summary>
  </li>

  <li>
    <h3><a href="http://jonathan-potter.github.io/Cat-Click-Snake/">Snake</a></h3>
    <summary class="summary">
      Eat apples and grow (there are a few other features I should probably remove), built using Javascript and CSS.
    </summary>
  </li>

  <li>
    <h3><a href="https://itunes.apple.com/us/app/sfdistricts/id617142818?mt=8#!">SFDistricts</a></h3>
    <summary class="summary">
     Interactive map of the districts and neighborhoods in San Francisco. built for iPhone.
    </summary>
  </li>
</ul>