<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/assets/red-dot.png">
  <title>Jonathan Potter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
